@page "/counter"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStorage


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;



    protected override async Task OnParametersSetAsync()
    {
        var result = await ProtectedSessionStorage.GetAsync<int>("count");
        currentCount=result.Success?result.Value:0;
    }

    private async Task IncrementCount()
    {
        currentCount++;
        await ProtectedSessionStorage.SetAsync("count",currentCount);
    }
}
