@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationState

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<h3>ClaimsPrincipal Data</h3>
<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>
<p>@_authMessage</p>
@if (_claims.Count()>0)
{
    <ul>
        @foreach (var item in _claims)
        {
            <li>@item.Type: @item.Value</li>
        }
    </ul>
}
<p>@_surnameMessage</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private string? _authMessage;
    private string? _surnameMessage;

    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationState.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            _authMessage = $"{user.Identity.Name} is authenticated.";
            _claims=user.Claims;
            _surnameMessage=  $"Surname: {user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value}";
        }
        else
        {
             _authMessage = "The user is NOT authenticated.";
        }
    }
}
