@page "/mouse-move-place"
@inject IJSRuntime JS
@implements IDisposable


<h1>@message</h1>

<div @ref="mouseMoveElement" style="border:1px dashed red;height:200px;">
    Move mouse here
</div>

@code{
    private ElementReference mouseMoveElement;
    private DotNetObjectReference<MousemovePlace> selfReference;
    private string message = "Move the mouse in the box";

    [JSInvokable]
    public void HandleMouseMove(int x, int y)
    {
        message = $"Mouse move at {x}, {y}";
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            selfReference=DotNetObjectReference.Create(this);
            var minInterval = 500;
            await JS.InvokeVoidAsync("onThrottledMouseMove",mouseMoveElement,selfReference,minInterval);
        }
    }

    public void Dispose()=>selfReference?.Dispose();
}
