@inherits LayoutComponentBase
@using BlazorSample.UIThemeClasses

<PageTitle>BlazorServerApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div>
            <CascadingValue Value="theme" Name="CascadeParam1">
                <article class="content px-4">
                    @Body
                </article>
            </CascadingValue>
        </div>

    </main>
</div>

@code {
    private ThemeInfo theme = new() { ButtonClass = "btn-success" };
}
