<!DOCTYPE html>
<html>
    <head>
        <title>vue demo</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style.css"></style>
        <script src="./vue.js"></script>
    </head>
    <body>
        <div id="app">
            {{ message }}
          </div>
          <div id="app-2">
              <span v-bind:title="message">
                  查看span
              </span>
          </div>
          <div id="app-3">
              <p v-if="seen">you see me</p>
          </div>
          <div id="app-4">
              <ol>
                  <li v-for="todo in todos">
                      {{todo.text}}
                  </li>
              </ol>
          </div>
          <div id="app-5">
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">reverse info</button>
          </div>
          <div id="app-6">
             <p>{{message}}</p> 
             <input v-model="message">  
          </div>
          <div id="app-7">
              <ol>
                  <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
              </ol>
          </div>
          <div id="app-11">{{fullname}}</div>
          <div id="app-12" v-bind:style="styleObject">{{message}}</div>
          <div id="app-13">
            <h1 v-if="awesome">Vue is awesome!</h1>
            <h1 v-else>Oh no 😢</h1>
          </div>
          <div v-if="Math.random() > 0.5">
            Now you see me
          </div>
          <div v-else>
            Now you don't
          </div>
          <div v-if="type === 'A'">
            A
          </div>
          <div v-else-if="type === 'B'">
            B
          </div>
          <div v-else-if="type === 'C'">
            C
          </div>
          <div v-else>
            Not A/B/C
          </div>
        <div id="app-14" >
            <ol>
                <li v-for="(value,name,index) in object" v-bind:key="name"> {{value}} : {{name}} : {{index}}</li>
            </ol>        
        </div>
        <div id="app-15">
            <li v-for="n in evenNumbers">{{n}}</li>
        </div>
        <div id="app-16">
            <ol></ol>
        </div>
        <div id="app-16">
            <form v-on:submit.prevent="addNewTodo">
                <label for="new-todo">Add a todo</label>
                <input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
                <button>Add</button>
            </form>
            <ul>
                <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index,1)">
                </li>
            </ul>
        </div>
        
        <script type="text/javascript" charset="utf-8">
        Vue.component("todo-item",{
            template:
                '<li>{{title}} <button v-on:click="$emit("remove")"></button></li>',
            props:["title"]
        })
        var app16=new Vue({
            el:"#app-16",
            data:{
                newTodoText:"",
                todos:[{
                    id:1,
                    title:"Do to one"
                },
                {
                    id:2,
                    title:"Do to 2"
                },
                {
                    id:3,
                    title:"Do to 3"
                }
            ],
            nextTodoId:4
            },
            methods:{
                addNewTodo:function(){
                    this.todos.push({
                        id:this.nextTodoId,
                        title:this.newTodoText
                    });
                    this.newTodoText="";
                }
            }
        })
        var app15=new Vue({
            el:"app-15",
            data:{
                numbers:[1,2,3,4,5,6]
            },
            computed:{
            evenNumbers: function(){
                return this.numbers.filter(function (number){
                    return number % 2===0
                })
            }
        }
        })
        var app14=new Vue({
            el:"#app-14",
            data:{
                object:{
                    title: 'How to do lists in Vue',
      author: 'Jane Doe',
      publishedAt: '2016-04-10'
                }
            }
        })
            var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
            }) 
            var app2=new Vue({
                el:"#app-2",
                data:{
                    message:"hello vue"+new Date().toLocaleTimeString()
                }
            })
            var app3=new Vue({
                el:'#app-3',
                data:{
                    seen:true
                }
            })
            var app4=new Vue({
                el:"#app-4",
                data:{
                    todos:[
                        {text:"ddd1"},
                        {text:"ddd2"},
                        {text:"ddd3"}
                    ]
                }
            })
            var app5=new Vue({
                el:"#app-5",
                data:{
                    message:"hello vue js"
                },
                methods:{
                    reverseMessage:function(){
                        this.message=this.message.split(' ').reverse().join(' ')
                    }
                }
            })
            var app6=new Vue({
                el:"#app-6",
                data:{
                    message:"hello vue"
                }
            })

            Vue.component("todo-item",{
                props:["todo"],
                template:"<li>{{todo.text}}</li>"
            })
            var app7=new Vue({
                el:"#app-7",
                data:{
                    groceryList: [
      { id: 0, text: '蔬菜' },
      { id: 1, text: '奶酪' },
      { id: 2, text: '随便其它什么人吃的东西' }
    ]
                }
            })

            var data = {a:1};
            var vm = new Vue({
                el:"#app-9",
                data:data
            })
            console.log(vm.$data===data);
            console.log(vm.$el===document.getElementById("app-9"));
            vm.$watch("a",function(newValue,oldValue){
                console.log("old value "+oldValue+" change to new value :"+newValue);
            })

            var app10 = new Vue({
                data:{a:1},
                created:function(){
                    console.log("a is: "+this.a);
                }
            })

            var app11=new Vue({
                el:"#app-11",
                data:{ firstName: "Foo",
                    lastName: "Bar"},
                computed:{
                    fullname:{

                    get: function(){
                        return this.firstName+" "+this.lastName
                    },
                    set:function(newValue){
                        var names=newValue.split(" ");
                        this.firstName=names[0];
                        this.lastName=names[names.length-1];
                    }
                }
                }
            })
            var app12=new Vue({
                el:"#app-12",
                data:{
                    message:"sytle bind",
                    styleObject:{
                        color:"red",
                        fontSize:"13px"
                    }
                }
            })
            var app13=new Vue({
                el:"#app-13",
                data:{
                    awesome:true
                }
            })
        </script>
    </body>
</html>