@page "/event-handler-example-8"
<p>
    <input @ref="exampleInput">
    <button onclick="ChangeFocus"> Focus the Input Element</button>
</p>

@code{
    ElementReference exampleInput;
    async Task ChangeFocus()
    {
        await exampleInput.FocusAsync();
    }
}
