<link href="_content/ComponentLibrary/additionalStyles.css" rel="stylesheet">
<div class="extra-style">
    <p>
        This component is defined in the <strong>ComponentLibrary</strong> package.
    </p>
</div>
