@page "/counter-partial-class"

<PageTitle>partial class component</PageTitle>
<h1>test</h1>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ProductionCard
    imageUrl="https://images.unsplash.com/photo-1452784444945-3f422708fe5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=512&q=80"
    imageAlt="test"
    eyeBrow="Private Villa"
    textUrl="Relaxing All-Inclusive Resort in Cancun"
    Price=299>
    </ProductionCard>
