@page "/counter-partial-class"

<PageTitle>partial class component</PageTitle>
<h1>test</h1>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ProductionCard
    imageUrl="https://images.unsplash.com/photo-1452784444945-3f422708fe5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=512&q=80"
    imageAlt="test"
    eyeBrow="Private Villa"
    textUrl="Relaxing All-Inclusive Resort in Cancun"
    Price=299
    Entities="@(new List<int>{1,2,3,4})"
    TEntity="int">
    </ProductionCard>

<!-- Before extracting a custom class -->
<button class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
  Save changes
</button>


<div class="container mx-auto px-10 columns-3 gap-8">
    <iframe class="w-auto aspect-[16/9] hover:aspect-square md:aspect-square" src="https://youtu.be/dQw4w9WgXcQ"></iframe>
    <iframe class="w-auto aspect-[16/9] hover:aspect-square md:aspect-square" src="https://youtu.be/dQw4w9WgXcQ"></iframe>
    <iframe class="w-auto aspect-[16/9] hover:aspect-square md:aspect-square" src="https://youtu.be/dQw4w9WgXcQ"></iframe>
</div>
<!-- After extracting a custom class -->

<div class="columns-2">
  <p>Well, let me tell you something, ...</p>
  <p class="break-after-column">Sure, go ahead, laugh...</p>
  <p>Maybe we can live without...</p>
  <p>Look. If you think this is...</p>
</div>
<button class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
  Save changes
</button>
<div class="columns-2">
  <p>Well, let me tell you something, ...</p>
  <p class="hover:break-before-column">Sure, go ahead, laugh...</p>
  <p>Maybe we can live without...</p>
  <p>Look. If you think this is...</p>
</div>
<div class="columns-2">
  <p>Well, let me tell you something, ...</p>
  <p class="break-inside-avoid-column">Sure, go ahead, laugh...</p>
  <p>Maybe we can live without...</p>
  <p>Look. If you think this is...</p>
</div>
