@page "/native-sqlite"

<PageTitle> native sqlite</PageTitle>

<div>
    <h1>use efcore and sqlite on wasm</h1>
    <button @onclick="RunEFCore">Test Sqlite</button>
</div>

@code {
    public class TestDbContext:DbContext
    {
        public DbSet<Part> Parts { get; set; }

        protected override void OnConfiguring(DbContextOptionsBuilder options)=>options.UseSqlite($"Data Source=test.db");
    }

    public record Part
    {
        public int Id { get; set; }

        public int NumCount { get; set; }
    }

    private async Task RunEFCore()
    {
        using var dbContext = new TestDbContext();
        await dbContext.Database.EnsureCreatedAsync();

        var nextNumber = dbContext.Parts!.Count() + 1;
        dbContext.Parts!.Add(new Part { NumCount = nextNumber });
        await dbContext.SaveChangesAsync();

        Console.WriteLine();
        await foreach (var part in dbContext.Parts!.AsAsyncEnumerable())
        {
            Console.WriteLine($"ID: {part.Id}, number count: {part.NumCount}");
        }
    }
}
