@using Xunit
@code{

    [Fact]
    public void HelloWorldComponentRendersCorrectly()
    {
        // arrange
        using var ctx = new TestContext();

        // act
        var cut = ctx.Render(@<Helloworld/>);

        // arrset
        cut.MarkupMatches(@<h1>Hello world from Blazor</h1>);

    }
}
